* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    height: 100vh;
    font-size: 10px;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.para {
    opacity: 60%;
    font-size: 0.85rem;
    line-height: 1.5;
}

.level {
    opacity: 50%;
}

.testimonial-1,
.testimonial-2,
.testimonial-4 {
    color: hsl(0, 0%, 100%);
}

.testimonial-3,
.testimonial-5 {
    color: hsl(219, 29%, 14%);
}

.testimonial-3 .name,
.testimonial-3 h1 {
    color: hsl(217, 19%, 35%);
}

.testimonial-1 img {
    outline: 0.2em solid rgb(140, 92, 219);
}

.testimonial-4 img {
    outline: 0.2em solid hsl(263, 55%, 52%);
}

.testimonial {
    border-radius: 1em;
    box-shadow: 0.8em 0.8em 1em rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.testimonial-1 {
    background-color: hsl(263, 55%, 52%);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 380px 0px;
    grid-column: span 2;
}

.testimonial-2 {
    background-color: hsl(217, 19%, 35%);
}

.testimonial-3 {
    background-color: hsl(0, 0%, 100%);
}

.testimonial-4 {
    background-color: hsl(219, 29%, 14%);
    grid-column: span 2;
}

.testimonial-5 {
    background-color: hsl(0, 0%, 100%);
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: -0.25em;
}

.sub-container {
    padding: 2em 3.25em;
}

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1em;
}

img {
    width: 3em;
    border-radius: 2em;
    margin-right: 1.5em;
}

.name {
    font-size: 0.9rem;
    font-weight: 600;
}

.level {
    font-size: 0.8rem;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 1000px;
        margin: 5em 0;
    }

    body {
        height: auto;
    }
}

.testimonial:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: none;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 700px;
        grid-template-columns: repeat(3, 1fr);
        margin: 5em 0;
    }

    .testimonial-5 {
        background-color: hsl(0, 0%, 100%);
        grid-column-start: 1;
        grid-row-start: 3;
        grid-column-end: 4;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 4em 0;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        width: 86%;
        margin: 3em 0;
        gap: 3em;
    }

    .testimonial-1 {
        background-position: 200px 0px;
    }

    .testimonial-1 h1 {
        margin-right: 0.2em;
    }
    
    .para {
        font-size: 0.8rem;
    }
}
